.nav-bar-container {
  background: white !important;
  font-weight: 500 !important;
  color: black !important;
}

.contact-info {
  background: #008080 !important;
  width: 100% !important;
  height: 25px;
}
.nav-logo-text, .hidden-nav-logo-text {
  font-weight: 600px !important;
  color: black !important;
  text-decoration: none;
  font-size: 20px !important;
  margin-left: 0.8rem !important;
  font-family: 'Solway' !important;
  width: 100%;
}

.instagram-navbar {
  margin-top: 1.6rem;
}

/* ----------- iPhone 12 and 12 pro ----------- */
@media screen
  and (min-device-width: 300px)
  and (max-device-width: 449px)
  and (-webkit-min-device-pixel-ratio: 2) {

   .nav-bar-container {
    width: 100%;
   }
   .nav-logo-text, .hidden-nav-logo-text {
    font-size: 15px !important;
   }

  }


