.nav-bar-container {
  background: #8E3E63 !important;
  color: 'black' !important;
  font-weight: 500 !important;
  margin-top: 0;
}

.nav-logo-text, .hidden-nav-logo-text {
  font-weight: 600px !important;
  color: #F7ECF1 !important;
  text-decoration: none;
  font-size: 20px !important;
  margin-left: 0.8rem !important;
  font-family: 'Solway' !important;
}


.nav-links-container {
  margin-left: 30%;
}

.links-text {
  font-family: 'Solway';
  color: white;
}

.instagram-navbar {
  margin-top: 1.6rem;
}

/* ----------- iPhone 12 and 12 pro ----------- */
@media screen
  and (min-device-width: 300px)
  and (max-device-width: 449px)
  and (-webkit-min-device-pixel-ratio: 2) {

   .nav-bar-container {
    width: 100%;
   }
   .nav-logo-text, .hidden-nav-logo-text {
    font-size: 15px !important;
   }

  }


