/*  ---------- CONTACT ME CSS ----------------------------------- */

.contact-me-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Klee-One';
}

.contact-info-container {
  padding: 4rem;
  background-color: #FFFAF4;
  font-family: 'Klee-One' !important;
  text-align: center;
}

.got-questions-title {
  font-weight: normal;
  color: #064c3f;
  margin-bottom: 0.6rem;
}

.lets-start-convo-text {
  font-weight: normal;
  color: #064c3f;
  margin-top: 0.2rem;
  font-size: 1.5rem;
}


.text-area-container {
  margin-top: 2.5rem;
  margin-left: 2rem;
  max-width: 100%;
  /* border: 2px solid red; */
}

.email-address-text, .phone-number-text {
  font-size: 1.2rem;
  font-weight: normal;
  color: #a0522d;
}

.form-container {
  /* border: 2px solid brown; */
  background: #FFFAF4;
  width: 100%;
}

.submit-form-container {
display: flex;
flex-direction: column;
align-items: center;
/* margin: auto; */
}

.submit-question-header {
font-weight: normal;
color: #064c3f;
text-align: center;
margin-bottom: 0.1rem;
margin-top: 1rem;
}

.input-field-container {
  /* border: 2px solid yellow; */
  margin-top: 2rem;
}

@media screen
  and (min-device-width: 300px)
  and (max-device-width: 449px)
  and (-webkit-min-device-pixel-ratio: 2) {
   .contact-me-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #FFFAF4;
    height: 100%;
   }
   .contact-info-container {
    font-size: 17px;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin: auto;
    margin-top: 2rem;
    height: 100%
   }
   .got-questions-title {
    margin: 0;
    padding: 0;
   }
   .email-address-text, .phone-number-text {
    font-size: 20px;
   }
   .submit-question-header {
    font-size: 1rem;
   }
   .form-container {
    font-size: 5px;
    background-color: #FDF5E6;
   }
   .input-field-container {
    text-align: center;
   }
   .input-field-container > * {
    margin-bottom: 1rem;
   }
   .submit-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
    width: 65%;
   }
   .submit-question-header {
    font-size: 2rem;
    font-style: italic;
   }
   .text-area-container {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
   }
   .submit-button {
    width: 50%;
   }
  }


  /* ipad mini sizes */
  @media only screen
      and (min-device-width: 450px)
      and (max-device-width: 1023px)
      and (-webkit-min-device-pixel-ratio: 1) {
        .contact-me-container {
          width: 100%;
          height: fit-content;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin: auto;
         }
         .contact-info-container {
          width: 100%;
          height: 50%;
          padding: 0;
          margin: auto;
          font-size: 20px;
          text-align: center;
          background-color: #eae3c9;
         }
         .submit-form-container {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          margin: auto;
          padding: 0;
         }
         .input-field-container {
          display: flex;
          justify-content: space-between;
         }

         .text-area-container {
          width: 100%;
          margin: auto;
          margin-top: 1rem;
         }
  }
